
.container {
    padding: 20px;
    margin: 0 auto;
    display: flex;
  }
  .description_container{
    display: flex;
    width: 60%;
  }

  .pgLang{
    text-align: center;
    margin-bottom: 50px;
    font-size: 100px;
  }
  
  .description{
    text-align: justify;
    font-weight: 600;
  }

  .techSection {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    gap: 250px;
    flex-direction: column;
  }

  .techItem{
    display: flex;
    align-items: center;
    font-size: 50px;
    gap: 50%;
  }

  