
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: var(--background, #171717); /* Dark background */
    color: var(--foreground, #fff); /* Light text */
    border-bottom: 0.3px solid;
  }
  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
    gap: 1.5rem;
    margin-right: 10%;
    gap: 50px;
  }
  
  .link {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s ease;
    font-weight: 800;
  }
  
  .link:hover {
    color: #61dafb; /* Change link color on hover */
  }
  